<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @phone_detail.name %>
</p>

<p>
  <strong>Processor:</strong>
  <%= @phone_detail.processor %>
</p>

<p>
  <strong>Storage:</strong>
  <%= @phone_detail.storage %>
</p>

<p>
  <strong>Battery:</strong>
  <%= @phone_detail.battery %>
</p>

<p>
  <strong>Display:</strong>
  <%= @phone_detail.display %>
</p>

<p>
  <strong>Display:</strong>
  <%= @phone_detail.display %>
</p>

<%= link_to 'Edit', edit_phone_detail_path(@phone_detail) %> |
<%= link_to 'Back', phone_details_path %>
